<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ummm.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>51B435C91C41A63812234B15306D16FBB9868D5A</string>
				<key>dateExpires</key>
				<string>2019. 8. 14.</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>29GKW9FL72.com.hnine.ummm</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:ummm.page.link</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>U32Q9DB8SF</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ummm.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>379483d6-ba71-4226-9ef6-f061de61d2fc</string>
				<key>name</key>
				<string>ummm_adhoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>U32Q9DB8SF</string>
				<key>name</key>
				<string>H9Design Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
